body {
    font-family: 'fibra one';
    background-color: #E5D8C8;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th{
    font-weight: bold;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #4744a4;
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #4744a4;
}

section{
    padding-top: 5%;
}

button{
    padding: 8px 19px;
    border-radius: 20px;
    width: max-content;
    background-color: #3B73A2;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    font-family: "fibra one regular";
    transition: 0.3s ease-in-out;
}