body {
    font-family: 'Fibra One';
    background-color: #f8eddc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .signup-container {
    background-color: #f3e2c7;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
  }

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }

  .input-row {
    display: flex;
    gap: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="dob"],
  input[type="gender"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #f8eddc;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
  }

  .login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }

  .login-link a {
    color: #007bff;
    text-decoration: none;
  }