body {
    font-family: 'Fibra One';
    background-color: #E5D8C8;
    color: black;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.container {
    margin-top: 50px;
    padding: 15px;
    background-color: #D9C8B2;
    border-radius: 8px;
    display: inline-block;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 8px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #666;
    transition: 0.2s;
}

.hidden {
    display: none;
}

input {
    margin: 8px;
    padding: 5px;
}

.show-pass-btn {
    padding: 7.5px 12.5px;
    font-size: 12px;
    margin-left: 5px;
}