<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
    <link rel="stylesheet" href="../static/stylesheets/accsettings.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>ACCOUNT SETTINGS</h2>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="First Name" name="first_name">
                    <input type="text" placeholder="Last Name" name="last_name">
                </div>
                <input type="email" placeholder="Email Address" name="email">
                <input type="text" placeholder="Contact Number" name="contact">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="New Password" name="new_password">
                <button type="submit">UPDATE</button>
            </form>
        </div>
        <div class="profile-pic-section">
            <div class="profile-pic"></div>
            <button class="upload-btn">Update Profile</button>
        </div>
    </div>
</body>
</html>
