<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clinician Dashboard</title>
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/ClinicianDashboard.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>


     <!-- Nav Bar Section by Faran, tiny edited by taha-->

     <nav>
        <a href="/">Home</a>
        <div class="loginButton" style="margin-left: -10px;"><a class="button" href="/logout">Logout</a></div>
    </nav>

    <div class="mob-nav">
        <div class="getStartedButton" style="margin-right: -19px;"><a class="button" href="">Get Started</a></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 20 20" fill="none" class="menu-open">
            <path fill="#3b73a2" fill-rule="evenodd" d="M18 5a1 1 0 100-2H2a1 1 0 000 2h16zm-4 4a1 1 0 100-2H6a1 1 0 100 2h8zm5 3a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-5 5a1 1 0 100-2H6a1 1 0 100 2h8z"/>
        </svg>
    </div>

    <div class="menu-list">
        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 24 24" fill="none" style="position: absolute; top: 28px; right: 39px;" class="menu-close">
            <path d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z" fill="whitesmoke"/>
        </svg>
        <a href="/" class="mob" style="margin-top: 130px;">Home</a>
        <div class="loginButton" style="margin: 0 auto;"><a class="MobloginButton" href="/logout">Logout</a></div>
    </div>




    <!--[ Datbase part by taha ]-->

    
    <section>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Medical History</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Reviewed</th>
                    <th>VIew</th>
                </tr>
            </thead>

            <tbody>

                {% for row in rows %}

                <tr>
                    <td>{{ row.patient_name }}</td>
                    <td>{{ row.DOB }}</td>
                    <td>{{ row.gender }}</td>
                    <td>{{ row.medical_history }}</td>
                    <td>{{ row.phone_number }}</td>
                    <td>{{ row.email_ID }}</td>
                    <td>row.reviewed</td>
                    <td>
                        <form method = "POST" action = "/PatientSelected">
                        <input type = "hidden" name = "PatientID" value = "{{ row.patient_name }}">
                        <button type = "submit">View</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}


            </tbody>



        </table>


    </section>

</body>