<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../static/stylesheets/createAcc.css">
  <script src="../static/stylesheets/Redirectfunc.js"></script>
  <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>
  <div class="signup-container">
    <h2>Account Creation for Patient</h2>

    <form action="/AccountCreation" method= "post" >

      <div class="input-row">

        <input type="text" placeholder="First Name" name = "first_name" required>

        <input type="text" placeholder="Last Name" name = "last_name" required>

      </div>

      <input type="dob" placeholder="Date of Birth" name = "DOB">

      <input type="gender" placeholder="Male/Female/Other" name = "gender">

      <input type="email" placeholder="Email Address" name = "email">

      <input type="tel" placeholder="Contact Number"  name = "tel">

      <input type="password" placeholder="Password" name = "password" required>

      <button class="button" type="submit">Sign Up</button>

    </form>
  </div>
</body>
</html>
