<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>

    <link rel="stylesheet" href="../static/stylesheets/dashboard.css">
    <link rel="shortcut icon" href="../static/favicon.ico">


</head>
<body>
    <div class="header">
        <a class="button" href = "/">Home</a>
        <a class="button" href = "/logout">Logout</a>
    </div>


    <div class="container">
        
        <div class="patient">
            <div class="p-pic">profile pic</div>
            <div class="p-info">
                <h1>{{ Patientrow['patient_name'] }}</h1>
                <p>Patient ID: {{ Patientrow['patient_id'] }}</p>
            </div>
        </div>
        
        <div class="contact-section">
            <div class="contact-box">
                <div class="contact-text">
                    <img src = "">
                    <br>
                    {{ Patientrow['email_ID'] }}
                </div>
            </div>
            
            <div class="contact-box">
                <div class="contact-text">
                    <img src = "">
                    <br>
                    {{ Patientrow['phone_number'] }}
                </div>
            </div>
            
            <div class="contact-box">
                <div class="contact-text">
                    <img src = "">
                    <br>

                    Clinician info
                    <br>
                    Name: {{ Doctorrow['Full_Name'] }}
                    <br>
                    Email: {{ Doctorrow['email_address'] }}
                    <br>
                    Contact No: {{ Doctorrow['phone_numb'] }}


                </div>
            </div>
        </div>
        
        <div class="content-row">
            <div class="reports-section">
                <h3 class="reports-title">REPORTS</h3>
                
                <div class="file">
                    <img src = "">
                    <br>
                    file.doc
                </div>
                
                <div class="file">
                    <img src = "">
                    <br>
                    file.doc
                </div>
                
                <div class="file">
                    <img src = "">
                    <br>
                    file.doc
                </div>
            </div>
            
            <div class="xray-section">
                XRAY IMAGE HERE
            </div>
        </div>
    </div>

</body>
</html>