<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>

    <link rel="stylesheet" href="../static/stylesheets/dashboard.css">
    <link rel="shortcut icon" href="../static/favicon.ico">


</head>
<body>
    <div class="header">
        <a class="button" href = "/">Home</a>
        <a class="button" href = "/logout">Logout</a>
    </div>


    <div class="container">
        
        <div class="patient">
            <div class="p-pic">profile pic</div>
            <div class="p-info">
                <h1>{{ Patientrow['patient_name'] }}</h1>
                <p>Patient ID: {{ Patientrow['patient_id'] }}</p>
            </div>
        </div>
        
        <div class="contact-section">
            <div class="contact-box">
                <div class="contact-text">
                    <img src = "">
                    <br>
                    {{ Patientrow['email_ID'] }}
                </div>
            </div>
            
            <div class="contact-box">
                <div class="contact-text">
                    <img src = "">
                    <br>
                    {{ Patientrow['phone_number'] }}
                </div>
            </div>
            
            <div class="contact-box">
                <div class="contact-text">
                    <img src = "">
                    <br>

                    Clinician info
                    <br>
                    Name: {{ Doctorrow['Full_Name'] }}
                    <br>
                    Email: {{ Doctorrow['email_address'] }}
                    <br>
                    Contact No: {{ Doctorrow['phone_numb'] }}


                </div>
            </div>
        </div>
        
        <div class="content-row">
            <div class="reports-section">
                <h3 class="reports-title">REPORTS</h3>
                
                <div class="file">
                    <img src = "">
                    <br>
                    file.doc
                </div>
                
                <div class="file">
                    <img src = "">
                    <br>
                    file.doc
                </div>
                
                <div class="file">
                    <img src = "">
                    <br>
                    file.doc
                </div>
            </div>

            {% if xraysend %}

            <div class="xray-section">
                <!-- <h1>X-Ray Result</h1><br> -->
                {% if xraysend.ai_generated_diagnosis == "1" %}
                <h3>We regret to inform you, that pneumonia was detected, please do seek counsel from your doctor.</h3>
                {% elif xraysend.ai_generated_diagnosis == "0" %}
                <h3>Pneumonia was not found, please stand by for conformation in a maximum of 4 weeks.</h3>
                {% endif %}

                <img src = "{{ url_for('static', filename='uploads/' + xraysend.FILE_PATH) }}" alt = "X-Ray" >
            </div>


            {% endif %}



            
            {% if filename %}

            <div class="xray-section">
                <!-- <h1>X-Ray Result</h1><br> -->
                {% if Pneumonia == True %}
                <h2>We regret to inform you, that pneumonia was detected, seek counsel from your doctor.</h2>
                {% endif %}
                {% if Pneumonia == False %}
                <h2>Pneumonia was not found, please stand by for conformation in a maximum of 4 weeks.</h2>
                {% endif %}
                <img src = "{{ url_for('static', filename='uploads/' ~ filename) }}" alt = "X-Ray" >
            </div>

            <!-- <div class="xray-resubmit">
                <form method = "POST" action = "/xrayAI" enctype = "multipart/form-data">
                    <input type = "file" name = "xray" accept = "image/*" required>
                    <button type = "submit">Resend</button>
                </form>
            </div> -->

            {% else %}

            {% if not xraysend %}
            <div class="xray-section">
                <form method = "POST" action = "/xrayAI" enctype = "multipart/form-data">
                    <input type = "file" name = "xray" accept = "image/*" required>
                    <button type = "submit">Predict</button>
                </form>
            </div>
            {% endif %}
            {% endif %}

            {% if clinician == "True" %}
            <div class="xray-section">
                <form method = "POST" action = "/reviewed">
                    <label for = "Diagnosis">Confirm Diagnosis:</label>
                    <select name = "Diagnosis">
                        <option value = "yes">Has pneumonia</option>
                        <option value = "no">Does NOT have pneumonia</option>
                    </select>
                    <lable for = "OverrideDescription">Notes from clinician</lable>
                    <input type = "text" name = "OverrideDescription" required>
                    <br>
                    <button type = "submit">Submit</button>
                </form>
            </div>
            {% endif %}

        </div>
    </div>

</body>
</html>