<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <title>Chest Ray</title>
</head>

<body>

    <!-- Nav Bar Section -->

    <nav>
        <a href="">Home</a>
        <a href="">About Us</a>
        <a href="">Contact Us</a>
        <div class="getStartedButton" style="margin-right: -19px;"><a class="button" href="/signup">Get Started</a></div>
        <div class="loginButton" style="margin-left: -10px;"><a class="button" href="/login">Login</a></div>
    </nav>

    <div class="mob-nav">
        <div class="getStartedButton" style="margin-right: -19px;"><a class="button" href="">Get Started</a></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 20 20" fill="none" class="menu-open">
            <path fill="#3b73a2" fill-rule="evenodd" d="M18 5a1 1 0 100-2H2a1 1 0 000 2h16zm-4 4a1 1 0 100-2H6a1 1 0 100 2h8zm5 3a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-5 5a1 1 0 100-2H6a1 1 0 100 2h8z"/>
        </svg>
    </div>

    <div class="menu-list">
        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 24 24" fill="none" style="position: absolute; top: 28px; right: 39px;" class="menu-close">
            <path d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z" fill="whitesmoke"/>
        </svg>
        <a href="" class="mob" style="margin-top: 130px;">Home</a>
        <a href="" class="mob">About Us</a>
        <a href="" class="mob">Contact Us</a>
        <div class="loginButton" style="margin: 0 auto;"><a class="MobloginButton" href="">Login</a></div>
    </div>

    <!-- Headline Section -->

    <div class="headline">
        <img src="../static/images/headline.png" alt="">
        <div class="headliner">
            <h1>AI-Powered Pnemonia Detection</h1>
            <p style="justify-self: center;">Get reliable recommendations to guide your next steps</p>
        </div>
    </div>

    <!-- Main Image Section -->

    <img class="mainImg" src="../static/images/MainImg.png" alt="">

    <!-- Patients Section -->


    <h1 class="patientsH">Patients</h1>

    <section class="patients">
        <div class="details">
            <h2>Accessible, Reliable Pneumonia Screening—Right Where You Are</h2>
            <p class="p1">Your health is our priority. Our pop-up field clinics bring cutting-edge pneumonia detection
                to communities with limited medical resources. Trained health workers use AI-assisted chest X-ray
                analysis to provide fast and reliable results. Every diagnosis is reviewed by remote medical experts,
                ensuring you receive accurate care and appropriate treatment recommendations. Whether you need
                medication, further testing, or simple rest and recovery, we’re here to help.</p>
            <p class="p2">Think you might have pneumonia? Visit a nearby field clinic for a quick check-up!</p>
        </div>
        <img class="patientsImg" src="../static/images/patientspic.png" alt="">
    </section>

    <!-- Health Worker Section -->

    <h1 class="workersH">Health Workers</h1>

    <section class="workers">
        <div class="details">
            <h2>Fast, AI-Assisted Pneumonia Detection for Field Clinics</h2>
            <p class="p1">Providing care in remote or underserved areas is challenging, but you’re not alone. Our web
                app streamlines the pneumonia screening process, allowing you to create and manage patient records,
                upload chest X-rays, and receive instant AI-generated diagnostic insights. If pneumonia is suspected,
                expert clinicians remotely verify the results and guide you on the next steps, ensuring the best
                possible care for your patients. With real-time collaboration, you can make informed decisions quickly
                and confidently.</p>
            <p class="p2">If you’re a health worker or want to become one, sign up to make a difference in patient care!
            </p>
            <div class="workersButton"><a class="button" href="">Register as a health worker</a></div>
        </div>
        <img class="workersImg" src="../static/images/workersPic.png" alt="">
    </section>

    <!-- Clinician Section -->

    <h1 class="cliniciansH">Expert Clinicians</h1>
    <section class="clinicians">
        <div class="details">
            <h2>Real-Time Pneumonia Diagnosis—From Anywhere</h2>
            <p class="p1">Your expertise can make a life-saving difference. Our platform connects you with health
                workers on the front lines, providing real-time access to suspected pneumonia cases. Using AI-assisted
                chest X-ray analysis, you can efficiently review diagnoses, confirm findings, and recommend appropriate
                treatments. Whether prescribing antibiotics, antivirals, or further evaluation, your input ensures
                patients receive timely and accurate care—even in the most remote locations.</p>
            <p class="p2">If you’re a medical expert, join our network to review cases and help diagnose pneumonia
                remotely!</p>
            <div class="cliniciansButton"><a class="button" href="">Register as an expert clinician</a></div>
        </div>
        <img class="cliniciansImg" src="../static/images/cliniciansPic.png" alt="">
    </section>

    <!-- Footer Section -->

    <footer>
        <h1>Suggestions & Contact Us</h1>

        <div class="container">
            <div class="suggestions">
                <h2>Suggestions</h2>
                <form action="">
                    <div class="name">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                    </div>
                    <input type="text" placeholder="Email">
                    <textarea placeholder="Type here ..."></textarea>
                    <input class="button" type="submit" value="Submit" style="margin: 0 auto;">
                </form>
            </div>

            <div class="contact">
                <h2>Contact Us</h2>
                <form action="">
                    <input type="text" placeholder="Email">
                    <input class="button" type="submit" value="Email Us" style="margin: 0 auto;">
                </form>
            </div>
        </div>

        <span>Team G6 @ 2025</span>
    </footer>

    <script src="../static/stylesheets/index.js"></script>

</body>

</html>