<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/Layout.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <script src="../static/stylesheets/Redirectfunc.js"></script>
    <title>ChestRay Login</title>
</head>
<body>
    <div class="container" id="userTypePage">
        <img src="../static/images/G6LOGOAB23.png" alt="ChestRay Logo" class="logo">
        <h1>Welcome to Chest Ray</h1>
        <p>Select your user type:</p>
        <div class="btn-group">
            <button onclick="goToLogin('admin')" class="login-btn">Admin</button>
            <button onclick="goToLogin('patient')" class="login-btn">Patient</button>
        </div>
    </div>

    <div class="hidden" id="loginPage">
        <h2>Login</h2>
        <form id="loginForm" action = "/check_login" method="POST" onsubmit="return validateForm();">


            <input type = "hidden" id ="userType" name = "userType"> <!-- Added by Taha | to check if admin or patient-->
            <input type="hidden" id="username" name="username">
            <input type="hidden" id="password" name="password">



            <div id="adminFields" class="info-box hidden">

                <div class="input-row">

                    <label for="Adminusername">Username:</label>

                    <input type="text" id="Adminusername" name="Adminusername">

                </div>

                <div class="input-row">

                    <label for="Adminpassword">Password:</label>

                    <input type="password" id="Adminpassword" name="Adminpassword">

                    <button type="button" onclick="togglePassword('Adminpassword')" class="show-pass-btn">Show</button>

                </div>

            </div>

            
            <div id="patientFields" class="info-box hidden">

                <div class="input-row">

                    <label for="Patientusername">Username/UserID:</label>

                    <input type="text" id="Patientusername" name="Patientusername">

                </div>
                
                <div class="input-row">

                    <label for="Patientpassword">Password:</label>

                    <input type="password" id="Patientpassword" name="Patientpassword">

                    <button type="button" onclick="togglePassword('Patientpassword')" class="show-pass-btn">Show</button>

                </div>

            </div>

            <div class="btn-group">

                <button type="submit">Login</button>

            </div>
        </form>
    </div>
</body>
</html>
